* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeecec;
}

.container {
  width: 80%;
  margin: auto;
}

header{
    background-color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header .logo{
    color: #444;
    font-size: 18px;
    text-decoration: none;
}

header nav ul {
    display: flex;
    gap: 30px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: #444;
    text-decoration: none;
}

#hero, #about, #porfolio, #contact{
    padding: 120px 0;
}

#hero{
    background-color: rgb(33, 111, 111);
}

#hero p {
    color: #eeecec;
    font-size: 16px;
    line-height: 25px;
    width: 800px;

}

#hero h1 {
    font-size: 55px;
    color: #fff;
    margin-bottom: 10px;
}

#hero h4 {
    color: #eeecec;
    font-size: 30px;
    font-weight: 100px;
    margin-bottom: 12px;
}

#hero button {
    margin: 10px 0;
    background-color: #fff;
    padding: 15px 60px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    color: teal;
    letter-spacing: 3px;
    cursor: pointer;
}

#hero button:hover {
    background-color: #eeecec;
}

#about{
    background-color: rgb(248, 238, 248);
}

#about .container {
    display: flex;
    gap: 20px;
}

#about .about-left {
    width: 50%;
    display: flex;
    justify-content: center;
}


#about .about-left img{
    width: 70%;
    border-radius: 20px;
    box-shadow: 2px 4px 20px;
}

#about .about-right {
    width: 50%;
}

#about .about-right h2 {
    font-size: 45px;
    margin-bottom: 15px;
    list-style: 20px;
}

#about .container {
    
}

#about .about-right button {
    background-color: teal;
    padding: 15px 40px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;

}




#porfolio{
    background-color: blueviolet;
}

#contact{
    background-color:brown ;
}

.h1{
    background-image: -o-linear-gradient();
}